<div class="row">
  <div class="col-lg-10">
    <h1>Editing Employee</h1>
  </div>
  <div class="col-lg-2">
    <%= link_to 'Show', @employee %> |
	<%= link_to 'Back', employees_path %>
  </div>
</div>
<br>
<%= render 'form' %>


